body {
    font-family: 'Open Sans', sans-serif;
    color: #34495E;
    background-color: #ECF0F1;
    margin: 0;
    padding: 0;
}
header {
    background-color: #2C3E50;
    padding: 20px 0;
    text-align: center;
    }
    header h1 {
    font-size: 2.5em;
    color: #F9E4B7;
    margin: 0;
    }
    .profile-photo {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
    }
    main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    }
    section {
    background-color: #F9E4B7;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    }
    h2 {
    font-size: 2em;
    color: #D35400;
    margin-bottom: 10px;
    }
    p, ul {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    }
    a {
    color: #1ABC9C;
    text-decoration: none;
    }
    a:hover {
    text-decoration: underline;
    }
    .project-photo {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 10px;
    }
    ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    }
    .icon {
    width: 20px;
    height: auto;
    margin-right: 5px;
    }
    footer {
    text-align: center;
    padding: 20px 0;
    background-color: #2C3E50;
    color: #F9E4B7;
    font-size: 0.9em;
    }
